body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f5f6fa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__leftContainer {
  flex: 0.9;
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.app__stats {
  display: flex;
  align-items: center;
  gap: 20px;
}
.infoBox {
  width: 100%;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 5px #ccc;

}
.infoBox:hover {
  transition: all 0.3s ease;
  transform: scale(1.05);
  background-color: #f5f6fa;
}
.infoBox__cases {
  color: #cc1034;
  font-size: 1.75rem;
  font-weight: 600;

}

@media (max-width: 990px) {
  .App {
    flex-direction: column;
  }
  .app__rightContainer {
    margin-top: 50px;
  }
}

@media (max-width: 480px) {
  .app__stats {
    flex-direction: column;
  }

  .app__header {
    flex-direction: column;
    text-align: center;
  }
}


.table {
  margin-top: 20px;
  padding: 20px;
  overflow-y: scroll;
  height: calc(100vh - 500px);
  color: #6a5d5d;
}

.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}

.table tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}

.table td {
  padding: 10px;
}

.chartContainer{
  padding: 20px;
  color: #6a5d5d;
}


.graph canvas{
  height: 250px !important;
  max-width: 400px;
}

@media (max-width: 990px) {
  .graph canvas{
    max-width: 100% !important;
  }
}


.map {
  height: 500px;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 50px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.map .leaflet-container {
  height: 100%;
}


.infoPop{
  
}
.infoPop__flag img{
  border-radius: 5px;
  border: 1px solid #e6e6e6;

}

.infoPop__name,
.infoPop__cases,
.infoPop__recovered,
.infoPop__deaths {
  font-size: 16px;
  margin-top: 5px;
}

.infoPop__name {
  font-weight: bold;
  font-size: 20px;
}

